@page "/"
@inject NavigationManager NavigationManager


<PageTitle>Leuke Ken Field Site!</PageTitle>

<div id="content" style="align-content:center;">
	<br />
	<h1>GwG Profile Quiz</h1>
	<img id="mid-image" src="images/group.jpg" style="max-width:100%;" />
	<div class="buttons-container">
		<button class="btn btn-secondary" @onclick='() => NavigateToOtherPage("Story")'>Start quiz</button>
	</div>
	<br />
	<h1>Should I eat it</h1>
	<div class="buttons-container">
		<button class="btn btn-secondary" @onclick='() => NavigateToOtherPage("Food")'>Start quiz</button>
	</div>
</div>

@code {
	private void NavigateToOtherPage(string page)
	{
		NavigationManager.NavigateTo(page);
	}
}